<%= form_for @report, html: {class: 'form form-report'} do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', size: 50 %>
  </div>
  <div class="form-group">
    <%= f.label :language %><br>
    <%= f.select :language, options_for_select(LANGUAGES), {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, cols: 40, rows: 15, class: 'form-control' %>
  </div>
  <div class="text-center">
    <%= f.submit 'Post Report', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
