<h2>Reports</h2>

<%= form_tag root_path, method: :get, enforce_utf8: false do %>
  <%= label_tag :department_id, 'Department: ' %>

  <% if @current_user %>
  <%= link_to 'Mine', root_url(department_id: 'my') %>
  <% end %>
  
  <%= select_tag :department_id, 
    options_from_collection_for_select(Department.all, 'id', 'name', (@department.id if @department)),
    prompt: 'all', onchange: 'this.form.submit();' %>
<% end %>

<% @reports.each do |report| %>
<div class="report">
	
  <h3>
    <%= link_to report_path(report) do %>
    <%= sanitize(report.title) %>
    <% end %>
  </h3>
  
  <p><%= simple_format(report.content) %></p>
</div>
<% end %>