<div class="page-header">
  <h1><%= sanitize(@report.title) %></h1>
  <small>
    <%= language(@report.language) %>
    <%= @report.created_at %>
    |
    <a href="#"><%= @report.author.name %></a>
    |
    <% if @report.author == @current_user %>
    <%= link_to 'Edit', edit_report_path(@report) %>
    <% end %>
    <%= link_to 'Back', reports_path %>
  </small>
</div>

<div class="panel panel-success">
  <h3 class="panel-heading">Original</h3>
  <div class="panel-body">
    <%= simple_format(@report.content) %>
  </div>
</div>

<% @report.correction_logs.each do |log| %>
<div class="panel panel-info">
  <h3 class="panel-heading">Corrections - <%= log.advisor.name %></h3>
  <div class="panel-body list-group">
    <div class="correction_block">
      <% log.corrections.each do |c| %>
      <div class="correcton">
        <p class="correction-original-sentence"><%= c.sentence.line %></p>
        <div class="correction-modified-sentence"><%= raw c.advice %></div>
        <% if c.comment %>
        <p class="correction-comment"> 
          <%= c.comment %>
        </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% if @current_user %>
<div class="panel panel-warning">
  <h3 class="panel-heading">Add Corrections</h3>
  <div class="panel-body">
    <% if @report.sentences.any? %>
    <%= form_tag save_corrections_report_path(@report) do %>
    <% @report.sentences.each_with_index do |sentence, i| %>
    <div class="sentence">
      <p><strong>Original Sentence</strong></p>
    	<p class="sentence-original"><%= sentence.line %></p>
    	<button type="button" class="btn btn-warning btn-modify">Modify</button>
      <div class="sentence-advice">
        <p class="sentence-correction"></p>
        <p class="sentence-comment"></p>
      	<button type="button" class="btn btn-danger btn-remove">Remove</button>
      </div>
      <div class="edit-pane">
        <label for="sentence-editor">Correction</label>
        <%= text_area_tag "corrections[#{sentence.id}][advice]", sentence.line, class: 'sentence-editor' %>
        <%= hidden_field_tag "corrections[#{sentence.id}][modified]", false, class: 'sentence-modified' %>
        <label for="sentence-comment-edit">Comment</label>
        <%= text_area_tag "corrections[#{sentence.id}][comment]", '', class: 'sentence-comment-edit', rows: 1, cols: 50 %>
    		<button type="button" class="btn btn-primary btn-save">Save</button>
    		<button type="button" class="btn btn-cancel">Cancel</button>
      </div>
    </div>
    <% end %>
    <div id="main-buttons" class="text-center">
      <button type="submit" class="btn btn-primary btn-lg" disabled="disabled" id="btn-submit-corrections">Submit Corrections</button>
      <button type="button" class="btn" id="btn-reset-corrections">Reset</button>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', reports_path %>
  </div>
</div>
<%= tinymce_assets %>
<% end %>